@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Helvetica, 'Roboto', Arial, sans-serif;
  color: #777; }

img {
  width: 100%; }

.Header {
  background-color: #E24D51;
  color: #eee;
  margin: 0;
  padding: 1rem;
  text-align: center; }
  .Header h1 {
    font-size: 2rem;
    font-weight: lighter; }

.SearchBar {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem; }
  .SearchBar input {
    padding: 0.4rem;
    outline: none; }
  .SearchBar input[type="text"] {
    flex: 2;
    margin-right: 0.6rem;
    border-color: #777;
    border-width: 2px; }
  .SearchBar button {
    padding: 0.4rem;
    outline: none;
    flex: 1;
    background-color: #E24D51;
    color: #fff;
    border-color: #E24D51;
    border-radius: 4px;
    cursor: pointer; }

.Card {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0; }
  .Card h1 {
    font-size: 1.4rem; }
  .Card__msg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    font-size: 1.4rem;
    color: #E24D51; }
  .Card__image {
    background-color: #eee;
    border-radius: 4px; }

.Footer {
  margin: 0;
  padding: 0.8rem;
  text-align: center;
  background-color: #333;
  color: #fff; }
  .Footer h3 {
    font-size: 1rem;
    font-weight: lighter; }
